html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#SchemaEditor
{
    font-family: verdana,tahoma,helvetica;
    width: 100%; 
    height: 100%;
    position: relative;
}
#SchemaEditor h1
{
    margin: 0;
    padding : 0;
}
#schema
{
    width: auto;
    padding-right: 1em;
    float: left;       
    height: 100%;
    overflow: auto;
    background: #fafafa;
}
#schema > ul
{
    padding-top: 10px;
}

#schema ul
{
    padding-bottom: 10px;
}
#form
{
    padding: 0 10px;
    height: 100%;
    overflow: auto;
}
#form-title
{
    font-weight: bold;
}
/* tableaux */
#SchemaEditor table
{
    border-collapse : collapse;
    background:#f8f8f8;
    width: 100%;
    border: 1px solid #39F;
}

#SchemaEditor thead th
{
    background-color:#39F;
    color: #fff;
    padding:0.5em 0.5em;
    text-align: left;
    font-size: 12px;    
}

#SchemaEditor td
{
    /* border-bottom: dotted 1px ThreeDShadow; */
/*    
    text-align: left;
    padding:0;
    vertical-align: top;
*/    
}

#SchemaEditor tbody th
{
    padding:0.5em 0.5em;
    text-align: left;
    width: 130px;
    vertical-align: top;
/*    color: #39F; */
}

.jstree li
{
    cursor: pointer;
}

#SchemaEditor label,
#SchemaEditor a
{
    font-size: 12px;
}

#SchemaEditor textarea
{
    width: 98%;
/*    
    border: none;
    background: transparent;
    outline: none;
*/    
    overflow: hidden;
    resize: none;
    outline: none;
}
#SchemaEditor input[type="checkbox"],
#SchemaEditor select
{
    margin: 0 0.5em 0 0;
}

/* La zone d'affichage des erreurs */
#errors
{
    display: none;
    background-color: ButtonFace;
    border: 3px solid ActiveCaption;
    -moz-border-radius:9px;
    padding: 1em;
    position: fixed;
    width: 50%;
    left: 25%;
}

div#errors .title
{
    font-size: 100%;
    padding: 0.3em;
    margin: -1em -1em 1em -1em;
    color: CaptionText;
    background-color: ActiveCaption;
}

div#errors ul
{
    border: 1px inset ThreeDFace;
    background-color: Window;
    color: WindowText;
    padding: 1em 1em 1em 2em;
    margin: 0;
    height: 15em; 
    overflow-y: auto;
}

/*
    ICONES ET STYLE DES TYPES DE NOEUDS
*/

.jstree li[rel="Schema"] > a
{
    font-weight: bold;
}

.jstree li[rel="Field"] > a > .jstree-icon 
{
    background-image: url(document.png);
    background-position: 0 0;
}

.jstree li[rel="Group"] > a > .jstree-icon 
{
    background-image: url(report.png);
    background-position: 0 0;
}

.jstree li[rel="Index"] > a > .jstree-icon 
{
    background-image: url(lightning.png);
    background-position: 0 0;
}

.jstree li[rel="Alias"] > a
{
    font-style: italic;
}
.jstree li[rel="Alias"] > a > .jstree-icon 
{
    background-image: url(sticky-note.png);
    background-position: 0 0;
}

/*
    STYLE DES BOUTONS DE LA BARRE D'OUTILS
*/
#schema-toolbar
{
    /* background: #eee; */
    margin: 10px 0;
/*    line-height: 30px; */ 
}
#schema-toolbar a, .button
{
    display: inline-block;
    margin: 0px 10px 0px 0;
    background:  #eee 5px center no-repeat ;
    color: #000;
    padding: 2px 8px 2px 24px;
    cursor: pointer;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#schema-toolbar a:hover, .button:hover
{
/*    border-color: black; */
    background-color: #e7f4f9;
}

#SchemaEditor .save-schema
{
    background-image: url("disk-black.png");
}
#SchemaEditor .add-property
{
    background-image: url("property.png");
}
#SchemaEditor .add-field
{
    background-image: url("document--plus.png");
}
#SchemaEditor .remove-field
{
    background-image: url("document--minus.png");
}
#SchemaEditor .add-group
{
    background-image: url("report--plus.png");
}
#SchemaEditor .remove-group
{
    background-image: url("report--minus.png");
}
#SchemaEditor .add-index
{
    background-image: url("lightning--plus.png");
}
#SchemaEditor .remove-index
{
    background-image: url("lightning--minus.png");
}
#SchemaEditor .add-alias
{
    background-image: url("sticky-note--plus.png");
}
#SchemaEditor .remove-alias
{
    background-image: url("sticky-note--minus.png");
}
#SchemaEditor .add-analyzer
{
    background-image: url("gear--plus.png");
}

/* évite que tout le tree bouge quand fait un hover sur le plus long des libellés */
.jstree a
{
    border: 1px solid transparent ;
    padding:0 2px 0 1px !important; 
}
