<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <timezone>default</timezone>
    <smarturls>false</smarturls>
    <theme>minimalistic</theme>
    <layout>default.html</layout>
    <debug>false</debug>
    <timer>false</timer>
    <showdebug>false</showdebug>
    <security>
        <handler>FileBasedSecurity</handler>
    </security>
    <templates>
        <checktime>true</checktime>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>
    <taskmanager>
        <!--
            <php> : path exact de l'exécutable php à utiliser pour lancer un 
            script php.
            
            Le fichier indiqué doit exister et être exécutable.
            
            Sous linux l'exécutable php s'appelle simplement php : vous 
            indiquerez en général un chemin du style "/usr/bin/php".
            
            Sous windows, il faut utiliser php-win.exe ou (à défaut) php.exe :
            vous indiquerez un chemin du style "c:\program files\php\php-win.exe".
            
            Remarque : vous pouvez indiquer dans cette clé n'importe quel
            exécutable. Cela peut être, par exemple, un shell script ou fichier
            "batch" qui se charge de lancer une configuration particulière de 
            php ou qui réalise une action spécifique avant ou après l'exécution
            du script.
			
			Par défaut, la clé est vide. Pour pouvoir lancer le gestionnaire de
			tâches, vous devez indiquer un path valide.
        -->
        <php />
    </taskmanager>
</config>