<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
    Exemples de routes pour un blog imaginaire
-->
<config>

    <!--
        Home page du site, affiche les derniers articles publiés.
        actionRecent pourrait être une pseudo action qui appelle actionSearch avec
        max=10, order='-' et un template spécial pour la page d'accueil,
        mais on peut quasimment la même chose en paramétrant la route.
    -->
    <item>
        <url>/</url>
        <module>database</module>
        <action>actionRecent</action>
        <add>
            <_equation>*</_equation>
            <_max>10</_max>
            <_sort>-</_sort>
        </add>
    </item>

    <!--
        Voir un article, url de la forme /articles/12-feuilles-de-styles.html
    -->
    <item>
        <url>/articles/$ref-$permalink.html</url>
        <module>database</module>
        <action>actionShow</action>
        <with>
            <ref>\d+</ref>
        </with>
    </item>

    <!--
        Charger un article pour le modifier
    -->
    <item>
        <url>/articles/edit/$ref</url>
        <module>database</module>
        <action>actionLoad</action>
        <with>
            <ref>\d+</ref>
        </with>
    </item>

    <!--
        Sauvegarder un article
    -->
    <item>
        <url>/articles/save/$ref</url>
        <module>database</module>
        <action>actionSave</action>
        <with>
            <ref>\d+</ref>
        </with>
    </item>
    
    <!--
        Combiner deux tags en 'SAUF' (/articles/tag/php-mvc)
        (juste pour vérifier qu'il n'y as pas d'interférences
    -->
    <item>
        <url>/articles/tag/$motcle-$motcle</url>
        <module>database</module>
        <action>actionSearch</action>
        <add>
            <op>AND_NOT</op>
        </add>
    </item>

    <!--
        Combiner trois tags en 'ET' (/articles/tag/php+mvc+framework)
        on pourrait ajouter autant de routes que nécessaires si on
        voulair en gérer plus, par contre, on ne peut pas écrire de
        routes qui prendrait un nombre variables de motsclés combinés
        entres eux.
    -->
    <item>
        <url>/articles/tag/$motcle+$motcle+$motcle</url>
        <module>database</module>
        <action>actionSearch</action>
    </item>

    <!--
        Combiner deux tags en 'ET' (/articles/tag/php+mvc)
    -->
    <item>
        <url>/articles/tag/$motcle+$motcle</url>
        <module>database</module>
        <action>actionSearch</action>
    </item>

    <!--
        Accès aux articles qui ont un motclé donné (/articles/tag/php)
        L'intérêt du test, c'est de vérifier que fab ne confond pas entre
        un tag quelconque et les mots 'edit' et 'save' utilisés dans les
        routes ci-dessus (syntaxiquement, les routes sont identiques).
        
        Initiallement, j'avais mis cette route là avant la précédente,
        m
    -->
    <item>
        <url>/articles/tag/$motcle</url>
        <module>database</module>
        <action>actionSearch</action>
    </item>

    <item>
        <url>/articles/archives/$year-$month-$day.html</url>
        <module>database</module>
        <action>actionSearch</action>
        <with>
            <year>\d+</year>
            <month>\d+</month>
            <day>\d+</day>
        </with>
    </item>
    
    <item>
        <url>/articles/compare/$REF-$REF.html</url>
        <with>
            <REF>\d+(,\d+){0,4}</REF>
        </with>
        <module>database</module>
        <action>actionCompare</action>
    </item>

</config>