<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    config d'un formulaire
    peut être un formulaire de recherche ou un formulaire de saisie
    
-->
<form>
    <!-- Le schéma auquel correspond ce formulaire  -->
    <schema>atest.xml</schema>

    <!--
        La clé extends permet à un formulaire d'hériter d'un autre 
        formulaire (comme pour les fichiers de configuration).
        
        Vous pouvez indiquer le path absolu du formulaire ancêtre ou
        un path relatif au fichier en cours.
        
        La valeur spéciale "false" indique qu'on ne veut pas hériter de quoi que
        ce soit.
     -->
    <extends>false</extends>

    <!--
        Indique les contrôles à utiliser pour ce formulaire 
     -->
    <controlset />
    
    <zzz>
        <!-- Titre du formulaire / de la page -->
        <label>Publier une offre d'emploi</label>
         
        <!-- Texte affiché en début de formulaire -->
        <description>Les champs obligatoires sont signalés par un astérisque</description>
        
        <!-- Liste des items présents dans le formulaire -->
        <items>
            <conditions_utilisation>
                <label>Acceptation des conditions d'utilisation</label>
                <description>
                    Avant de commencer la saisie de votre annonce, vous devez lire les 
                    conditions générales d'utilisation du service et cocher la case suivante :
                </description>
                <items>
                    <Conditions>
                        <label>
                            J'accepte les conditions d'utilisation du service et je 
                            certifie être habilité(e) à publier cette annonce
                        </label>
                    </Conditions>
                </items>
            </conditions_utilisation>
            
            <accroche>
                <label>Votre message d'accroche</label>
                <items>
                    <Titre>
                        <description>
                            Le titre que vous indiquez constitue l'accroche de votre annonce : 
                            c'est la première chose que verront les personnes qui consultent le 
                            service, il doit leur donner envie de lire votre annonce. Essayez 
                            d'indiquer : le nom de l'organisme, le profil recherché et le service 
                            ou les missions.
                        </description>
                    </Titre>
                </items>
            </accroche>
            
            <organisme_recruteur>
                <label>Organisme recruteur</label>
                <items>
                    <Organisme />
                    <Adresse />
                    <Url />
                </items>
            </organisme_recruteur>
        </items>
    </zzz>
    
    <!--
        Expressions régulières utilisées pour la validation.
        
        Chaque expression régulière est identifiée par un nom unique sensible
        à la casse.
        
        Au sein de chaque expression, il est possible d'utiliser (d'inclure) 
        une autre expression en délimitant son nom par deux caractères 
        "underscore".
        
        Exemple :
            <digit>[0-9]</digit>
            <number>_digit_+</number>
            
        Toutes les expressions utilisées doivent être définies, par contre, 
        l'ordre des expressions n'a pas d'importance : dans une expression, vous 
        pouvez utiliser le nom d'une autre expression définie après.

        La classe de base ControlSet définit plusieurs expressions régulières
        de base (IP, url, e-mail, etc.) que vous pouvez utiliser telles quelles
        ou bien redéfinir.
        
        Lorsque vous redéfinissez une expression régulière, celle-ci sera 
        utilisée à la place de l'expression existante mais modifiera également
        toutes les autres expressions utilisant cette expression, y compris
        celles qui sont prédéfinies par la classe ControlSet.
        
        Les expressions régulières que vous définissez ne doivent pas inclure
        de délimiteurs (les slashs ou tildes de début et de fin) : ceux-ci
        sont automatiquement ajoutés.
        
        Toutes les expressions régulières sont sensibles à la casse. Si vous
        voulez qu'elles ne le soient pas, vous devez indiquer tous les 
        caractères autorisés (par exemple [A-Za-z]).
     -->
    <patterns>
        <!-- Une adresse IP (v4) -->
        <IPByte>[0-9]{1,3}</IPByte>
        <IP>(?:_IPByte_\.){3}_IPByte_</IP>

        <!-- URI, URL -->
        <scheme>(?:http|https|ftp)</scheme>
        <tld>\.[A-Za-z]{2,4}</tld> <!-- un point suivi d'un code pays de 2 ou 3 ou 4 lettres -->
        <ident>[A-Za-z0-9][A-Za-z0-9_-]*</ident>
        <hostname>_ident_(?:\._ident_)*_tld_</hostname>
        <host>(?:_hostname_|_IP_)</host>
        <tcp-port>(?::[0-9]+)</tcp-port>
        <url-path>(?:/[^?#]*)?</url-path>
        <query-string>(?:\?[^#]*)?</query-string>
        <anchor>(?:#[A-Za-z0-9-_ ]*)</anchor>
        <url>_scheme_://_host__tcp-port_?_url-path__query-string__anchor_?</url>
        
        <!-- Adresse e-mail  -->
        <email>_ident_(?:\._ident_)*@_hostname_</email>

        <!-- Dates -->
        <year>(?:198[0-9]|199[0-9]|200[0-9]|201[0-9])</year>    <!-- une année sur 4 chiffres (1990 à 2019)  -->
        <month>(?:0[1-9]|1[0-2])</month>                        <!-- un mois sur deux chiffres (01 à 12) -->
        <day>(?:0[1-9]|[12][0-9]|3[01])</day>                   <!-- un jour sur deux chiffres (01 à 31)  -->
        <date-ymd>_year_(?:_month_(?:_day_)?)?</date-ymd>       <!-- date au format AAAAMMJJ, sans séparateurs, avec mois et jour facultatifs -->
        <date-dmy>_day_/_month_/_year_</date-dmy>               <!-- date au format JJ/MM/AAAA -->

        <!-- Casse des caractères -->
        <lowercase-letter>[a-záàâäåãéèêëíìîïóòôöõøúùûüçÿýñ']</lowercase-letter>
        <lowercase-text>.*?_lowercase-letter_.*?_lowercase-letter_.*?</lowercase-text> <!-- au moins deux minus -->
        <uppercase-letter>[A-Z]</uppercase-letter>

        <!-- Codes ISO (pays, langues...) -->
        <ISO2>[A-Z]{2}</ISO2>
        <ISO3>[A-Z]{3}</ISO3>

    </patterns>


    <!--
        Messages d'erreur.
        
        Les messages qui commencent par un underscore sont les messages 
        génériques générés par ControlSet (champ obligatoire, taille limite, 
        etc.)
        
        Les autres messages concernent les expressions régulières et le nom du
        message est identique au nom de l'expression régulière correspondante.
     -->
    <messages>
    
        <!-- Messages d'erreur standard -->        
        <_required>Champ obligatoire.</_required> <!-- Paramètres : aucun -->
        <_minlength>Au moins %1 caractères (%2 actuellement).</_minlength> <!-- Paramètres : %1=Longueur mini, %2=longueur actuelle -->
        <_maxlength>Taille limitée à %1 caractères (%2 actuellement).</_maxlength> <!-- Paramètres : %1=Longueur maxi, %2=longueur actuelle -->
        <_minvalues>Vous devez indiquer au moins %1 valeurs (%2 actuellement).</_minvalues> <!-- Paramètres : %1=Nombre mini d'articles, %2=nb actuel -->
        <_maxvalues>Maximum %1 valeurs (%2 actuellement).</_maxvalues> <!-- Paramètres : %1=Nombre maxi d'articles, %2=nb actuel -->
        <_pattern>Syntaxe incorrecte.</_pattern> <!-- Paramètres : %1=nom du pattern, %2=expression régulière du pattern, %3=valeur erronée -->
    
        <!-- Messages d'erreur pour les expressions régulières -->
        <!-- Paramètres : les mêmes que pour _bad-syntax -->
        <IP>Adresse IP incorrecte.</IP>
        <url>L'adresse indiquée ne semble pas correcte. Indiquez une url complète (exemple http://www.example.com/).</url>
        <email>Adresse e-mail incorrecte.</email>
        <date-ymd>Date incorrecte. Format attendu : AAAAMMJJ (MM et JJ sont optionnels).</date-ymd>
        <date-dmy>Date incorrecte. Format attendu : JJ/MM/AAAA.</date-dmy>
        <lowercase-text>Trop de majuscules.</lowercase-text>
    </messages>

    <!--
       Contrôles à exécuter.
       
       Pour chaque champ, on peut indiquer : 
        
        - <separator> : pour un champ articles, caractère(s) utilisé pour
          séparer les différentes valeurs. C'est le contenu de cette propriété
          qui permet à la librairie de savoir si on a affaire à un champ texte
          (<separator> === null) ou à un champ articles (! null). 
          
        - <required> : indique si le champ est obligatoire ou non.
          
        - <minlength> : longueur minimale du champ, en nombre de caractères. 
          Le sens change selon que <required> est à true ou à false.
           
          Quand <required> est à true, cela signifie que le champ est 
          obligatoire et qu'il doit faire au moins minlen caractères (dans ce 
          cas, il n'est pas indispensable que <required> soit à true, il suffit 
          d'indiquer <minlength>) mais il est conseillé de le faire quand même 
          (plus lisible, meilleur message d'erreur pour l'utilisateur).
          
          Quand <required> est à false, cela signifie que le champ n'est pas 
          obligatoire mais, s'il est renseigné, il doit faire au moins 
          <minlength> caractères.
          
          Lorsque le champ est un champ article, <minlength> s'applique à la 
          longueur de chacun des articles du champ.
          
          Sinon (s'il s'agit d'un champ texte), <minlength> s'applique à la 
          taille totale du champ.
          
        - <maxlength> : longueur maximale du champ en nombre de caractères 
          (même sémantique que pour <minlength>).
          
        - <minvalues> : pour un champ articles, nombre minimum d'articles que 
          le champ doit contenir (exemple : au moins trois mots-clés). Cette 
          propriété ne peut être utilisée que si <separator> est rempli. 
          
        - <maxvalues> : pour un champ articles, nombre maximum d'articles 
          autorisés (par exemple maximum trois mots-clés). Cette propriété ne 
          peut être utilisée que si <separator> est rempli.
          
        - <pattern> : nom de l'expression régulière que doit respecter le champ.
        
          Pour un champ articles, l'expression régulière est appliquée à chacun 
          des articles.
          
          Pour un champ texte, l'expression régulière est appliquée à la 
          totalité du champ. 
          
          L'expression régulière n'est pas appliquée si le champ est 
          vide.
           
          /*
          Il faut ajouter à l'expression régulière les ancres de début et de 
          fin (^ et $) car ils ne sont pas ajoutés automatiquement.
          */
          
        - <usermethod> : nom d'un callback qui sera appellé pour déterminer si
          le champ est correct ou non. Le nom indiqué doit correspondre à une
          méthode existante et accessible de l'objet handler passé en paramètre
          à la classe ControlSet.

        - <condition> : un ou plusieurs items (croisés en ET) qui définissent 
          les conditions dans lesquelle les contrôles indiqués seront appliqués.
          Chaque item peut lui-même être une liste d'items (croisés en OU). 
          Autrement dit, la condition ets exprimée sous la forme d'une conjonction
          de coordinations. Chaque condition élémentaire est indiqué par un appel
          de fonction. La classe ControlSet fournit des fonctions de base comme
          has(), contains(), match(), etc.
          
        Exemple de contrôle : 
        <patterns>
            <motcle-bdsp>[A-Z]+</motcle-bdsp>
        </patterns>
        
        <MotsCles>
            <separator>,</separator>
            <required>true</required>
            <minlength>1</minlength>
            <maxlength>512</maxlength>
            <minvalues>1</minvalues>
            <maxvalues>20</maxvalues>
            <pattern>motcle-bdsp</pattern>
            <usermethod>checkThesaurus</usermethod>
        </MotsCles>
        
        Exemples de contrôles conditionnels :
        <TitPerio> // TitPerio obligatoire pour un Article
            <item>
                <condition>has('TypDoc','Article')</condition>
                <required>true</required>
            </item>
            <item> // sinon
                <required>false</required>
            </item>
        <TitPerio>
        
        Exemple de conditions en ET et en OU
        <NoFasc> // NoFasc obligatoire pour un Article si on a un TitPerio ou Issn
            <item>
                <condition>
                    <item>has('TypDoc','Article')</item>
                    <item>                                      // ET
                        <item>has('TitPerio')</item>            // OU
                        <item>has('Issn')</item>
                    </item>
                </condition>
                <required>true</required>
            </item>
        <TitPerio>
    -->
    <controls />
</form>