<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion des schemas</title>

    <description><![CDATA[
        <p>
            Un schéma de base de données est un document xml qui définit la
            structure complète d'une base de données (liste des champs, des
            index, des tables de lookup, etc.)
        </p>
        <p>
            Ce module permet de créer de nouveaux schémas, de modifier les 
            schémas existants et de manipuler les fichiers xml correspondants
            (copier, renommer, supprimer...) 
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminSchemas/images/logo.png</icon>

    <directory>data/schemas</directory>
    <utf8>true</utf8>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>

    <actionSaveSchema>
        <theme>html5</theme>
        <layout>default.html</layout>
    </actionSaveSchema>
    <actionEditSchema>
        <theme>html5</theme>
        <layout>default.html</layout>
        
        <template>editSchemaTree.html</template>
        <js>
            <item>
                <src>jquery.js</src>
                <placement>top</placement>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery/json.min.js</src>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery/jquery.hotkeys.js</src>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery.tree/jquery.jstree.js</src>
            </item>
            <item>
                <src>/FabWeb/modules/AdminSchemas/EditSchema/js/editSchemaTree.js?c</src>
            </item>
            <item>
                <src>/FabWeb/js/autosize.js</src>
            </item>
        </js>
        <css>
            <item>
                <href>/FabWeb/modules/AdminSchemas/EditSchema/css/editSchema2.css</href>
            </item>
<!--             <item>
                <href>/FabWeb/css/form/form.css</href>
            </item>
 -->        </css>
    </actionEditSchema>
    
    <actionChoose>
        <template>choose.html</template>
    </actionChoose>

    <actionNew>
        <template>new.html</template>
    </actionNew>
</config>
