<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion des bases de données</title>

    <description><![CDATA[
            Permet de créer une nouvelle base de données,
            de modifier la structure d'une base de données existante, 
            de lancer une réindexation, de faire des sauvegardes, etc.
    ]]></description>

    <icon>/FabWeb/modules/AdminDatabases/images/logo.png</icon>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>
    
    <actionReindex>
        <template>confirmReindex.html</template>
    </actionReindex>
    
    <actionSetSchema>
        <template>setSchema.html</template>
    </actionSetSchema>
    
    <actionBackup>
        <js>
            <item><src>jquery.js</src></item>
        </js>
        <maxdumps>7</maxdumps>
        <maxdays>0</maxdays>
    </actionBackup>

    <actionRestore>
        <js>
            <item><src>jquery.js</src></item>
        </js>
    </actionRestore>
</config>
