<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion des modules</title>

    <description><![CDATA[
        <p>
            L'application est constituée d'un ensemble de modules indépendants
            qui travaillent ensemble pour apporter à l'application les 
            fonctionnalités dont elle a besoin.
        </p>
        <p>
            Ce module permet de gérer les différents modules disponibles dans 
            l'application.
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminModules/images/logo.png</icon>


    <directory>modules</directory>
    <newfoldername>NouveauModule</newfoldername>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>

</config>
