<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion des schemas</title>

    <description><![CDATA[
        <p>
            Un schéma de base de données est un document xml qui définit la
            structure complète d'une base de données (liste des champs, des
            index, des tables de lookup, etc.)
        </p>
        <p>
            Ce module permet de créer de nouveaux schémas, de modifier les 
            schémas existants et de manipuler les fichiers xml correspondants
            (copier, renommer, supprimer...) 
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminSchemas/images/logo.png</icon>

    <directory>data/schemas</directory>
    <utf8>true</utf8>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>

    <actionSaveSchema>
        <theme>html5</theme>
        <layout>default.html</layout>
    </actionSaveSchema>
    <actionEditSchema>
        <theme>html5</theme>
        <layout>default.html</layout>
        
        <template>editSchemaTree.html</template>
        <js>
            <item>
                <src>jquery.js</src>
                <placement>top</placement>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery/json.min.js</src>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery/jquery.hotkeys.js</src>
            </item>
            <item>
                <src>/FabWeb/js/lib/jquery.tree/jquery.jstree.js</src>
            </item>
            <item>
                <src>/FabWeb/modules/AdminSchemas/EditSchema/js/editSchema.js?20120117</src>
            </item>
            <item>
                <src>/FabWeb/js/autosize.js</src>
            </item>
        </js>
        <css>
            <item>
                <href>/FabWeb/modules/AdminSchemas/EditSchema/css/editSchema2.css</href>
            </item>
<!--             <item>
                <href>/FabWeb/css/form/form.css</href>
            </item>
 -->        </css>
 
        <analyzer>
            <item>
                <label>Meta analyseurs</label>
                <items>
                    <item>Fooltext\Indexing\StandardTextAnalyzer</item>
                    <item>Fooltext\Indexing\StandardValuesAnalyzer</item>
                </items>
            </item>
            <item>
                <label>Analyseurs standard</label>
                <items>
                    <item>Fooltext\Indexing\Phrases</item>
                    <item>Fooltext\Indexing\Keywords</item>
                    <item>Fooltext\Indexing\Words</item>
                </items>
            </item>
            <item>
                <label>Analyseurs spécifiques</label>
                <items>
                    <item>Fooltext\Indexing\Boolean</item>
                    <item>Fooltext\Indexing\BooleanExtended</item>
                    <item>Fooltext\Indexing\DateYMD</item>
                    <item>Fooltext\Indexing\Integer</item>
                    <item>Fooltext\Indexing\Isbn</item>
                </items>
            </item>
            <item>
                <label>Convertisseurs</label>
                <items>
                    <item>Fooltext\Indexing\Lowercase</item>
                    <item>Fooltext\Indexing\RemoveStopwords</item>
                    <item>Fooltext\Indexing\StemFrench</item>
                    <item>Fooltext\Indexing\StripTags</item>
                </items>
            </item>
            <item>
                <label>Générateurs</label>
                <items>
                    <item>Fooltext\Indexing\Attribute</item>
                    <item>Fooltext\Indexing\Countable</item>
                    <item>Fooltext\Indexing\Lookup</item>
                    <item>Fooltext\Indexing\Spellings</item>
                </items>
            </item>
        </analyzer>
    </actionEditSchema>
    
    <actionChoose>
        <template>choose.html</template>
    </actionChoose>

    <actionNew>
        <template>new.html</template>
    </actionNew>
</config>
