<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion du cache</title>

    <description><![CDATA[
        <p>
            L'application utilise un cache dans lequel est stockée la version
            compilée des templates et des fichiers de configuration de 
            l'application.
        </p>
        <p>
            Ce module permet de visualiser ces fichiers et de vider tout
            ou partie du cache.
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminCache/images/logo.png</icon>
</config>