<?xml version="1.0" encoding="UTF-8"?>
<config>
    <access>Admin,cli</access>

    <!-- Tous les modules d'administration disposent des feuilles de style suivantes -->
    <css>
        <item><href>/FabWeb/modules/Admin/css/Admin.css</href></item>
    </css>

    <!-- Tous les modules d'administration disposent des js suivants -->
    <js>
    </js>

    <!-- Chaque module d'administration dispose d'un titre, d'une description et d'une icone -->
    <title>Administration du site</title>
    <description>Voici la liste des modules d'administration qui sont disponibles.
    Cliquez sur le module que vous souhaitez utiliser.</description>
    <icon>/FabWeb/modules/Admin/images/logo.png</icon>
    
    <templates>
        <autoinclude>
            <okcancel>includes/okcancel.html</okcancel>
            <autopara>includes/autopara.html</autopara>
            <bigmenu>includes/bigmenu.html</bigmenu>
            <toolbar>includes/toolbar.html</toolbar>
<!--             <breadcrumbs>includes/breadcrumbs.html</breadcrumbs>  -->
        </autoinclude>
    </templates>

    <!--  Liste des modules d'administration disponibles -->
    <modules>
        <AdminFiles />
        <AdminConfig />
        <AdminModules />
        <AdminDatabases />
        <AdminSchemas />
        <AdminCache />
    </modules>
    
    <actionIndex>
        <template>index.html</template>
    </actionIndex>
</config>
