<?xml version="1.0" encoding="UTF-8"?>
<config>
    <module>AdminFiles</module>
    <title>Configuration</title>
    <description>Création et modification des fichiers de configuration de 
    l'application (paramètres du site, configuration des modules, etc.)</description>
    <icon>/FabWeb/modules/AdminConfig/images/logo.png</icon>
    
    <directory>config</directory>
    <newfilename>nouveau fichier.config</newfilename>
    <utf8>true</utf8>
</config>
