<?xml version="1.0" encoding="UTF-8"?>
<config>
    <title>Gestion des fichiers de l'application</title>

    <description><![CDATA[
        <p>
            Permet de modifier et de gérer les fichiers qui composent l'application.
        </p>
    ]]></description>

    <icon>/FabWeb/modules/AdminFiles/images/logo.png</icon>

    <directory />
    <newfilename>nouveau fichier.txt</newfilename>
    <newfoldername>nouveau dossier</newfoldername>
    
    <!-- Pour les action Edit et Save, indique si le fichier édité est en utf8 -->
    <utf8>false</utf8>
    
    <actionIndex>
        <template>index.html</template>
        <js>
            <item><src>jquery.js</src></item>
            <item><src>/FabWeb/js/lib/jquery/jquery.color.js</src></item>
        </js>
    </actionIndex>

    <actionNewFile>
        <template>newFile.html</template>
    </actionNewFile>
    
    <actionNewFolder>
        <template>newFolder.html</template>
    </actionNewFolder>
    
    <actionRename>
        <template>rename.html</template>
    </actionRename>

    <actionCopy>
        <template>copy.html</template>
    </actionCopy>

    <actionCopyFrom>
        <template>copy.html</template>
    </actionCopyFrom>

    <actionDelete>
        <template>delete.html</template>
    </actionDelete>

    <actionDownload>
        <layout>none</layout>
        <debug>false</debug>
        <showdebug>false</showdebug>
    </actionDownload>

    <actionEdit>
        <template>edit.html</template>
        <theme>default</theme>
        <layout>default.html</layout>
        <js>
            <item><src>jquery.js</src></item>
            <item><src>EditArea.js</src></item>
        </js>
        <css inherit="true">
            <item><href>/FabWeb/modules/AdminFiles/css/edit.css</href></item>
        </css>
    </actionEdit>
    <actionView>
        <action>actionEdit</action>
        <template>view.html</template>
    </actionView>
</config>