<?xml version="1.0" encoding="UTF-8"?>
<config>
    <theme>default</theme>
    <layout>autodoc.html</layout>
    
    <css>docbook_html.css</css>
    <js inherit="false">
        <item><src>jquery.js</src></item>
    </js>
    
    <!-- Liste des classes composant l'api de l'application -->
    <api />

    <!-- Liste des classes composant l'api de fab -->
    <fabapi inherit="false">
        <item>
            <description>Présentation</description>
            <doc>
                <item>fab.index</item>
                <item>fab.features</item>
            </doc>
        </item>
        <item>
            <description>Concepts</description>
            <doc>
                <item>fab.applications</item>
                <item>fab.config</item>
                <item>fab.modules</item>
                <item>fab.actions</item>
                <item>fab.templates</item>
                <item>fab.controlers</item>
                <item>fab.environments</item>
                <item>fab.security</item>
                <item>fab.routing</item>
                <item>fab.taskmanager</item>
                <item>fab.schemas</item>
                <item>fab.documentation</item>
            </doc>
        </item>
        <item>
            <description>Classes de base</description>
            <doc>
                <item>Cache</item>
                <item>Config</item>
                <item>Database</item>
                <item>DatabaseSchema</item>
                <item>Debug</item>
                <item>Multimap</item>
                <item>Request</item>
                <item>Runtime</item>
                <item>Routing</item>
                <item>Task</item>
                <item>Template</item>
                <item>TextTable</item>
                <item>Timer</item>
                <item>User</item>
                <item>Utils</item>
                <item>XapianDatabaseDriver</item>
                <item>XapianDatabaseRecord</item>
            </doc>
        </item>
        <item>
            <description>Modules standards de fab</description>
            <doc>
                <item>AutoDoc</item>
                <!-- <item>AutoTest</item> -->
                <item>CartModule</item>
                <item>DatabaseInspector</item>
                <item>DatabaseModule</item>
                <item>DedupModule</item>
                <item>DefaultModule</item>
                <item>ExceptionManager</item>
                <item>FabWeb</item>
                <item>ImportModule</item>
                <item>Module</item>
                <item>NoSecurity</item>
                <item>NotFound</item>
                <item>PhpInfo</item>
                <item>TaskManager</item>
                <item>ThesaurusModule</item>
            </doc>
        </item>
        <item>
            <description>Modules d'administration</description>
            <doc>
                <item>Admin</item>
                <item>AdminCache</item>
                <item>AdminConfig</item>
                <item>AdminDatabases</item>
                <item>AdminFiles</item>
                <item>AdminModules</item>
                <item>AdminSchemas</item>
            </doc>
        </item>
        <item>
            <description>Autres classes</description>
            <doc>
            <!--
                <item>AutoTestSuite</item>
                <item>AutoTestCase</item>
                <item>AutoTestFile</item>
			-->
                <item>DatabaseRecord</item>
                
                <item>BisDatabase</item>
                <item>BisDatabaseRecord</item>
                
                <item>DocItem</item>
                <item>DocBlock</item>
                <item>ElementDoc</item>
                <item>ClassDoc</item>
                <item>ConstantDoc</item>
                <item>MethodDoc</item>
                <item>ParameterDoc</item>
                <item>PropertyDoc</item>
                <item>ReturnDoc</item>
                
                <item>DedupMethod</item>
                <item>DedupTokens</item>
                <item>DedupValues</item>
                <item>DedupFirstValue</item>
                <item>DedupYears</item>

                <item>TemplateCode</item>
                <item>TemplateCompiler</item>
                <item>TemplateEnvironment</item>
                
                <item>AliasLookup</item>
                <item>LookupHelper</item>
                <item>SimpleTableLookup</item>
                <item>TermLookup</item>
                <item>ValueLookup</item>
            </doc>
        </item>
    </fabapi>
    
    <!--
        types indique la liste des types autorisés dans la documentation 
     -->
    <types>
        <array>
            <link>http://php.net/manual/language.types.array.php</link>
        </array>
        
        <Array>
            <use>array</use>
        </Array>
        
        <bool>
            <link>http://php.net/manual/language.types.boolean.php</link>
        </bool>

        <boolean>
            <use>bool</use>
        </boolean>
        
        <callback>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </callback>
        
        <int>
            <link>http://php.net/manual/language.types.integer.php</link>
        </int>
        
        <float>
            <link>http://php.net/manual/language.types.float.php</link>
        </float>
        
        <!-- pas vraiment un type, mais utile pour indiquer que la valeur 'null' peut être indiquée -->
        <null>
            <link>http://php.net/manual/language.types.null.php</link>
        </null>
        
        <object>
            <link>http://php.net/manual/language.types.object.php</link>
        </object>
        
        <mixed>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </mixed>
        
        <resource>
            <link>http://php.net/manual/language.types.resource.php</link>
        </resource>
        
        <scalar>
            <link>http://php.net/manual/language.pseudo-types.php</link>
        </scalar>
        
        <string>
            <link>http://php.net/manual/language.types.string.php</link>
        </string>
        
        <!-- Pseudo types qui nous sont propres -->
        <timestamp>
            <link>http://php.net/time</link>
            <title>Un entier représentant le nombre de secondes écoulées depuis le 01/01/1970 00h00 (temps Unix)</title>
        </timestamp>

        <path>
            <link>http://php.net/manual/language.types.string.php</link>
            <title>Une chaîne contenant le path complet d'un fichier dans le système de fichiers</title>
        </path>
        
        <this>
            <link>http://en.wikipedia.org/wiki/Fluent_interface</link>
            <title>Retourne l'objet en cours pour permettre le chainage des appels de méthodes.</title>
        </this>
    </types>
    
    <admonitions>
        <!-- La mention 'Remarque' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Remarque(?:s)?(?:\s*[0-9]+)?</match>
            <type>tip</type>
        </item>

        <!-- La mention 'Note' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Note(?:s)?(?:\s*[0-9]+)?</match>
            <type>note</type>
        </item>

        <!-- La mention 'Important' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Important(?:s)?(?:\s*[0-9]+)?</match>
            <type>warning</type>
        </item>

        <!-- La mention 'Attention' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Attention(?:s)?(?:\s*[0-9]+)?</match>
            <type>caution</type>
        </item>

        <!-- La mention 'Exemple' au singulier ou au pluriel, suivie éventuellement d'un nombre -->
        <item>
            <match>Exemple(?:s)?(?:\s*[0-9]+)?</match>
            <type>example</type>
        </item>
        
        <!-- La mention 'Exemple d'utilisation' au singulier ou au pluriel -->
        <item>
            <match>Exemple(?:s)? d'utilisation(?:s)?</match>
            <type>example</type>
        </item>

        <!-- Mentions todo : -->
        <item>
            <match>todo</match>
            <type>important</type>
        </item>

        <!-- Juste pour détecter d'autres éventuelles -->
<!--        <item>-->
<!--            <match>[a-z]+(?:s)?(?:\s*[0-9]+)?</match>-->
<!--            <type>caution</type>-->
<!--        </item>-->
    </admonitions>

    <actionApi>
        <template>api.html</template>
    </actionApi>
</config>