<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <css><item><href>/FabWeb/css/autotest.css</href></item></css>
    <actionRun>
        <js>
            <item><src>/FabWeb/js/autotest.js</src></item>
            <item><src>diff_match_patch.js</src></item>
        </js>
    </actionRun>
    
    <theme>default</theme>
    <layout>default.htm</layout>

    <!--
        Liste des paths dans lesquels AutoTest va rechercher les tests unitaires.
        Si le path commence par "fab:", c'est un path relatif à la racine de
        fab, sinon, le path est relatif à la racine de l'application. 
     -->    
    <searchpath>
        <item>fab:/core</item>
        <item>fab:modules/</item>
    </searchpath>
</config>
