<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <name>cart</name>
    <quantity>true</quantity>
    <actionAdd>
        <template>added.html</template>
    </actionAdd>
    <actionRemove>
        <template>removed.html</template>
    </actionRemove>
    <actionClear>
        <template>cleared.html</template>
    </actionClear>
    <actionShow>
        <template>show.html</template>
    </actionShow>
</config>
