<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
<!--     <theme>default</theme>  -->
<!--     <layout>default.htm</layout>  -->
    <actionAscoLoad>
        <layout>none</layout>
    </actionAscoLoad>
    <actionEditStructure>
        <theme>default</theme>
        <layout>default.htm</layout>
        <js>
            <item><src>jquery.js</src></item>
            <item><src>/FabWeb/js/lib/jquery/jqModal.min.js</src></item>
            <item><src>/FabWeb/js/lib/jquery/json.min.js</src></item>
            <item><src>/FabWeb/js/dbedit.js</src></item>
<!--            <item>/FabWeb/js/lib/jquery/tabs/ui.tabs.min.js</item>-->
        </js>
        <css inherit="false">
            <item><href>/FabWeb/js/lib/jquery/jqModal.css</href></item>
            <item><href>/FabWeb/css/dbedit.css</href></item>
        </css>
    </actionEditStructure>
    
    <actionReindex>
        <template>confirmReindex.html</template>
        <access>Admin,cli</access>
    </actionReindex>
    
</config>
