<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <title>Inspecteur de base de données</title>
    <js><item><src>jquery.js</src></item></js>
    <css><item><href>/FabWeb/css/databaseinspector.css</href></item></css>
    <actionSearchForm>
        <template>searchform.html</template>
        <js>
            <item><src>jquery.js</src></item>
            <item><src>rpc.js</src></item>
        </js>
        <templates>
            <autoinclude>
                <fieldset>include/textbox.html</fieldset>
            </autoinclude>
        </templates>
    </actionSearchForm>
    <actionSearch>
        <template>search.html</template>
        <max>1</max>
    </actionSearch>
    <actionExport>
        <slots>
            <otherparams>export.slot.html</otherparams>
        </slots>
    </actionExport>
</config>
