<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <database />
    <DefaultEquation />
    <callback>none</callback>
    <defaultop>OR</defaultop>
    <opanycase>true</opanycase>
    <defaultindex />
    <actionRawDBOutput>
        <access>admin</access>
        <action>actionShow</action>
        <callback>none</callback>
        <template>rawDB.html</template>
        <layout>none</layout>
    </actionRawDBOutput>
    <actionSearch>
        <template>format.autolist.html</template>
        <sort>+</sort>
        <max>10</max>
        <history>0</history>
    </actionSearch>
    <actionShow>
        <template>format.autoshow.html</template>
    </actionShow>
    <actionLookup>
        <template>lookup.html</template>
        <layout>none</layout>
    </actionLookup>
    <actionConfirmDelete>
        <action>actionSearch</action>
        <max>-1</max>
        <template>confirmdelete.html</template>
        <timetoconfirm>30</timetoconfirm>
    </actionConfirmDelete>
    <actionDelete>
        <template>deleted.html</template>
        <maxrecord>1</maxrecord>
    </actionDelete>
    <actionBatchDelete>
        <access>cli</access>
        <template>batchdeleted.html</template>
    </actionBatchDelete>    
    <actionExport>
        <template>export.html</template>
        <mailtemplate>mail.html</mailtemplate>
        <allowzip>true</allowzip>
        <forcezip>false</forcezip>
        <allowmail>true</allowmail>
        <forcemail>false</forcemail>
        <mailsubject>Votre export de notices</mailsubject>
        <mailbody></mailbody>
        <mailsenttemplate>mailsent.html</mailsenttemplate>
        <formats>
            <tableHtml>
                <label>Table html</label>
                <template>table.html</template>
                <content-type>text/html</content-type>
                <max>100</max>
            </tableHtml>
            <csv>
                <label>Format CSV</label>
                <access>Admin</access>
                <template>csv.txt</template>
                <content-type>text/plain</content-type>
                <content-disposition>attachment; filename="export.csv"</content-disposition>
            </csv>
            <AJP1>
                <label>Format AJP (ajout piloté) - fichier</label>
                <access>Admin</access>
                <template>ajp.txt</template>
                <content-type>text/plain</content-type>
                <content-disposition>attachment; filename="export.ap"</content-disposition>
            </AJP1>
            <AJP2>
                <label>Format AJP (ajout piloté) - affichage</label>
                <access>Admin</access>
                <template>ajp.txt</template>
                <content-type>text/plain</content-type>
                <max>
                    <Admin>-1</Admin>
                    <default>100</default>
                </max>
                <sep> / </sep>
            </AJP2>
            <XML>
                <label>Format XML - affichage</label>
                <access>Admin</access>
                <content-type>text/xml; charset=UTF-8</content-type>
                <generator>exportXml</generator>
            </XML>
            <default>tableHtml</default>
        </formats>
    </actionExport>
    <actionRSS>
        <action>actionExport</action>
        <allowzip>false</allowzip>
        <allowmail>false</allowmail>
        
        <!-- <equation>*</equation> -->
        <sort>-</sort>
        <formats inherit="false">
            <rss>
                <label>Format RSS 2.0</label>
                <content-type>application/rss+xml; charset=UTF-8</content-type>
                
                <max>20</max>
                
                <template>rss-2.0.rss</template>
                
                <!-- 
                    Titre du flux rss.
                    Par défaut, c'est le title du site qui est pris en compte
                    (clé title dans general.config). Vous pouvez indiquer ici un
                    titre différent si necéssaire. 
                -->
                <title />
                
                <!-- 
                    Description du flux rss. Vide par défaut. Beaucoup 
                    d'aggrégateurs affichent cette description en haut de page
                    après le titre du flux rss.
                -->
                <description />
                
                <!-- 
                    La section fields du format rss indique quels champs seront
                    utilisés pour générer le contenu du flux rss.
                    Chaque clé peut mentionner un champ unique ou une liste
                    d'items mentionnant chacun un champ. Dans ce dernier cas,
                    le premier champ non vide rencontré sera utilisé.
                    
                    Exemple :                    
                        <title>Tit</title>          
                        <description>
                            <item>Resu</item>
                            <item>Notes</item>
                        </description>
                        <date>
                            <item>LastUpdate</item>
                            <item>Creation</item>
                        </date>
                -->
                <fields>
                    <title />
                    <description />
                    <date />
                </fields>
            </rss>
        </formats>
    </actionRSS>
    
    <actionReplaceForm>
        <action>actionSearch</action>
        <max>-1</max><!-- pour avoir le nombre exact de réponses -->
        <equation /><!-- reset de l'équation par défaut éventuellement définie pour l'action Search -->
        <template>replaceForm.html</template>
        <!-- ignore : liste d'items indiquant les champs à ignorer -->
    </actionReplaceForm>    
    <actionReindex>
        <!-- on fait juste une redirection vers DatabaseAdmin/Reindex -->
        <layout>none</layout>
    </actionReindex>
</config>
