<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <!-- Nom de la base sur laquelle va travailler le dédoublonneur -->
    <database />
    
    <!-- 
        Séparateur d'articles (utilisé uniquement lorsqu'on lance le 
        dédoublonnage d'une notice en cours de saisie car la saisie se
        fait dans un champ unique). 
    -->
    <sep>/</sep>
    
    <!-- 
        La section <tests> contient la liste des tests qui seront effectués
        sur chacune des notices étudiées.
        
        Chaque item représente un test. Une notice sera considérée comme un
        doublon potentiel si au moins l'un des test indiqué réussit (ie : les 
        différents tests sont combinés en OU).
        
        Chaque test définit un ou plusieurs champs. Au sein d'un même test, 
        les différents champ indiqués sont combinés en ET.
        
        Lors de la recherche, une clause 'FILTER' ou 'AND_NOT' est appliquée
        à l'équation obtenue pour exclure la notice étudiée (évolution possible 
        plus tard : REF > n° de la ref étudiée).
        
        Au final, l'équation de recherche obtenue est de la forme :
        (
            (test1.champ1=xxx AND test1.champ2=xxx AND test1.champ3=xxx ...)
            OR
            (test2.champ1=xxx AND test2.champ2=xxx AND test2.champ3=xxx ...)
        )
        SAUF (Ref=xxx)

        Un champ indiqué dans un test peut contenir :
        - soit une valeur (exemple : <TypDoc>Ouvrage</TypDoc>). Dans ce cas, le
          test ne sera exécuté que si la notice étudiée contient la valeur 
          indiquée et recherchera uniquement les notices qui contiennent 
          cette valeur.
        - soit des critères indiquant comment rechercher dans la base la 
          valeur présente dans le champ de la notice. Dans ce cas, le test sera 
          toujours utilisé et recherchera les notices qui contiennent la même 
          valeur dans le même champ. 
          Par exemple :
            <Titre> 
                <type>phrase</type>
                <compare>tokens</tokens>
                <min>80%</min
            </Titre>            
          indique qu'il faut rechercher dans la base les notices qui ont le
          même titre que la notice étudiée (recherche par phrase). Les résponses
          obtenues seront ensuite examinées et seuls les titres qui ont au moins
          80% de similitude (méthode de comparaison : tokens) seront considérées
          comme des doublons potentiels.
          
       Critère possibles :
       - type : indique comment doit être lancée la recherche. Les valeurs 
         possibles sont 'word' pour faire une recherche sur les mots (c'est la
         valeur par défaut si type n'est pas indiqué), 'phrase' pour recherchée
         l'expression exacte et 'value' pour faire une recherche à l'article. 
    -->
    <tests />

    <!-- todo : pouvoir dire "si tel champ n'est pas rempli, alors..."  -->        
    
    
    <!-- 
        <format> indique le format d'affichage des notices, que ce soit pour
        la notice étudiée ou pour chacun des doublons potentiels trouvés.
        On peut indiquer ici un mini template du style Ref $REF - $Tit ($Type).
        
        Si la chaine contient des tags de template (opt, if...), il faut mettre 
        l'ensemble dans une section CDATA.

        format1 est utilisé pour afficher la notice qu'on est en train de dédoublonner
        format2 est utilisé pour afficher les doublons potentiels trouvés.        
    -->
    <format1>$REF</format1>
    <format2>$REF</format2>
    
    <!-- Demande confirmation avant de lancer le dédoublonnage d'un lot de notices -->
    <actionIndex>
        <access>Admin</access>
        <template>confirm.html</template>
    </actionIndex>
    
    <!-- Tâche exécutée par le TaskManager -->
    <actionDedup>
        <access>cli</access>
    </actionDedup>
    
    <!-- Action ajax pour le dédoublonnage d'une notice en cours de saisie -->
    <actionDedupData>
        <format>$REF</format>    
    </actionDedupData>

        
    <!-- Affichage côte à côte de la notice dédoublonnée et d'un doublon potentiel -->
    <actionEdit>
        <layout>default.htm</layout>
        <js>
            <item><src>jquery.js</src></item>
        </js>
        <css />
    </actionEdit>
</config>