<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <title>Connection au site</title>
    
    <file>    
        <!-- 
            Path du fichier contenant la liste des utilisateurs.
            
            Il peut s'agit d'un chemin "absolu" (commençant par un slash). Dans ce cas, le fichier
            est recherché par rapport à la racine de l'application. Si c'est un chemin relatif,
            il est recherché dans le répertoire /data de l'application 
            (exemple : users/list.txt -> /data/users/list.txt).
            
            Valeur par défaut : null. L'application doit explicitement créer un fichier 
            FileBasedSecurity.config dans son répertoire /config et indiquer le path du fichier 
            utilisé.
         -->
        <path />
        
        <!--
            Paramètres du fichier CSV : séparateur de champs (virgule par défault), 
            caractère de délimitation (guillemet par défaut). 
            Consulter la fonction http://php.net/fgetcsv pour plus d'infos.
        --> 
        <delimiter>,</delimiter>
        <enclosure>"</enclosure>
    </file>
    
    <!-- 
        Paramètres du cookie.
        Consulter http://php.net/setcookie pour la signification des différentes options. 
    -->
    <cookie>
         <!-- nom du cookie généré ('user' par défaut) -->
        <name>user</name>
        
         <!-- 
            Durée de vie, en secondes du cookie généré (10 jours par défaut).
            Si l'utilisateur coche la case "se souvenir de moi", le cookie généré sera valide
            pour la durée indiquée ci-dessous, sinon, lifetime est ignoré et le cookie est 
            effacé dès que l'utilisateur ferme son navigateur (et au maximum 24h).
        -->
        <lifetime>864000</lifetime>
        
         <!-- path du cookie ('/' par défaut) -->
        <path>/</path>
        
         <!-- domaine du cookie (null par défaut) -->
        <domain />
        
         <!-- http-only (true par défaut) -->
        <http-only>true</http-only>
    </cookie>
    
    <actionLogin>
        <css><item><href>form.css</href></item></css>
    </actionLogin>
    
    <actionLogout>
        <theme>none</theme>
        <layout>none</layout>
    </actionLogout>
</config>