<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- <access>Admin,cli</access>  -->

    <theme>none</theme>
    <layout>default.htm</layout>

    <title>Form Builder</title>
    
    <templates>
        <checktime>true</checktime>
        <forcecompile>true</forcecompile>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>

    <actionIndex>
        <css>
            <item>
                <href>http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css</href>
            </item>
            <item>
                <href>/FabWeb/modules/FormBuilder/FormBuilder.css</href>
            </item>
            <item>
                <href>/FabWeb/css/form/form.css</href>
            </item>
        </css>
    
        <js>
            <item>
                <src>https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js</src>
            </item>
            <item>
                <src>https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js</src>
            </item>
<!--             
            <item>
                <src>/FabWeb/modules/FormBuilder/jquery.ui.nestedSortable.js</src>
            </item>
 -->
            <item>
                <src>/FabWeb/modules/FormBuilder/FormBuilder.js</src>
            </item>
            <item>
                <src>/FabWeb/modules/FormBuilder/beautify-html.js</src>
            </item>
        </js>
    </actionIndex>    

    <actionLoad>
        <!--  pas indispensable, mais permet d'appeller directement l'action et de voir le résultat -->
        <layout>none</layout> 
        <templates>
            <autoinclude>
                <compress />    <!-- On supprime la compression du code pour essayer de conserver la mise en forme -->
            </autoinclude>
        </templates>
    </actionLoad>

    <!-- 
    -->
    <actionRender>
        <layout>none</layout>
        <action>actionPreview</action>
        <templates>
            <autoinclude>
                <formbuilder>include/templates.html</formbuilder>
                <compress />    <!-- On supprime la compression du code pour essayer de conserver la mise en forme -->
            </autoinclude>
        </templates>
    </actionRender>
    
    <!--
        Définit des familles d'attributs 
        Pour chaque attribut, on peut indiquer :
        <label /> : le libellé affiché pour cet attribut dans la fenêtre "Propriétés".
                    Optionnel. Valeur par dfaut : le nom de l'attribut
            
        <type />  : le type de contrôle à utiliser dans la fenêtre propriétés pour cet attribut.
                    Optionnel. Valeur par défaut : 'text'.
                    
        <default /> : la valeur par défaut de l'attribut.
                    Optionnel : valeur par défaut : null.
     -->
    <attributes-groups>
        <html-core>
            <id />
            <class />
            <style />
            <title />
        </html-core>
        <i18n>
            <lang />
            <dir />
        </i18n>
        <focus>
            <accesskey />
            <tabindex />
        </focus>
        <template-compiler>
            <test />
            <strip />
        </template-compiler>
        <database>
            <field />
            <index />
            <lookup />
        </database>
        <core>
            <html-core />
            <i18n />
            <database />
        </core>
    </attributes-groups>
    
    <!--
        Propriétés possibles pour un groupe
        <label /> libellé du groupe de contrôles
        <title /> bulle d'aide
        <tools> liste des contrôles de ce groupe
        
        Propriétés possibles pour chaque contrôle :
        <label /> barre d'outils : texte à afficher (optionnel, default=nom du contrôle)
        <title /> barre d'outils : bulle d'aide (optionnel, default=vide)
        
        <container /> indique si le contrôle peut contenir d'autres contrôles. TODO : inutile / accept
        <accept /> liste des contrôles enfant que le contrôle peut contenir (vide=pas un conteneur)
        
        <attributes /> liste des propriétés du contrôle (soit un nom définit dans <attributes-groups />, soit une propriété spécifique. 
     -->
    <tools-groups>
        <control>
            <label>Structures de contrôle</label>
            <tools>
                <loop>
                    <title>Boucle</title>
                    <attributes>
                        <on />
                        <as />
                    </attributes>
                </loop>
            </tools>
        </control>
        <html>
            <label>Html</label>
            <title>Contrôles Html</title>
            <tools>
                <h1>
                    <label>Titre 1</label>
                    <attributes>
                        <core />
                    </attributes>
                </h1>
                <h2>
                    <label>Titre 2</label>
                    <attributes>
                        <core />
                    </attributes>
                </h2>
                <h3>
                    <label>Titre 3</label>
                    <attributes>
                        <core />
                        <contenteditable>
                            <default>true</default>
                        </contenteditable>
                        <content><default>aaaa</default></content>
                    </attributes>
                </h3>
                <div>
                    <label>Div</label>
                    <attributes>
                        <core />
                    </attributes>
                </div>
                <p>
                    <label>Paragraphe</label>
                    <attributes>
                        <core />
                        <contenteditable>
                            <default>true</default>
                        </contenteditable>
                    </attributes>
                </p>
                <span>
                    <label>Span</label>
                    <attributes>
                        <core />
                    </attributes>
                </span>
                <a>
                    <label>Lien</label>
                    <attributes>
                        <core />
                    </attributes>
                </a>
                <img>
                    <label>Image</label>
                    <attributes>
                        <core />
                    </attributes>
                </img>
                <hr>
                    <label>Ligne de séparation</label>
                    <attributes>
                        <core />
                    </attributes>
                </hr>
            </tools>
        </html>
        <forms>
            <label>Formulaires</label>
            <title>Outils de création de formulaires</title>
            <tools>
                <form>
                    <label>Formulaire</label>
                    <accept>
                    </accept>
                    <attributes>
                        <core />
                    </attributes>
                </form>
                <textbox>
                    <label>Zone de texte</label>
                    <accept>
                        <p />
                        <span />
                    </accept>
                    <attributes>
                        <name>
                            <label>Nom</label>
                            <type>text</type>
                        </name>
                        <label>
                            <label>Libellé</label>
                            <type>text</type>
                            <default>Zone de texte</default>
                        </label>
                        <value>
                            <label>Valeur</label>
                            <type>text</type>
                            <default>Valeur par défaut</default>
                        </value>
                        
                        <!-- Attributs standards -->
                        <core />
                    </attributes>
                </textbox>
                
                <fieldset>
                    <label>Boite de regroupement</label>
                    <attributes>
                        <label>
                            <label>Légende</label>
                            <type>text</type>
                            <default>Légende par défaut du fieldset</default>
                        </label>
                        <core />
                    </attributes>
                </fieldset>
                <select>
                    <label>Menu déroulant</label>
                    <attributes>
                        <core />
                    </attributes>
                </select>
                <radiolist>
                    <label>Liste de boutons radios</label>
                    <attributes>
                        <core />
                    </attributes>
                </radiolist>
                <checklist>
                    <label>Liste de cases à cocher</label>
                    <attributes>
                        <core />
                    </attributes>
                </checklist>
                <radio>
                    <label>Bouton radio</label>
                    <attributes>
                        <core />
                    </attributes>
                </radio>
                <checkbox>
                    <label>Case à cacher</label>
                    <attributes>
                        <core />
                    </attributes>
                </checkbox>
                <submit>
                    <label>Bouton submit</label>
                    <attributes>
                        <core />
                    </attributes>
                </submit>
                <reset>
                    <label>Bouton reset</label>
                    <attributes>
                        <core />
                    </attributes>
                </reset>
                <button>
                    <label>Bouton standard</label>
                    <attributes>
                        <core />
                    </attributes>
                </button>
                <hidden>
                    <label>Champ caché</label>
                    <attributes>
                        <core />
                    </attributes>
                </hidden>
            </tools>
        </forms>
    </tools-groups>
    
    
    <!-- 
        <tools /> définit la liste des outils qui seront disponibles dans le Form Builder.
        Chaque clé est le nom d'un outil ou d'un groupe d'outils définit dans <tool-groups />.
        Tous les groupes pour lesquels au moins un outil est indiqué seront visibles dans le
        form builder.
        Remarque : il n'est pas possible de choisir l'ordre d'affichage des groupes. Les groupes
        sont toujours affichés dans l'ordre où ils apparaissent dans <tool-groups /> 
    -->
    <tools>
        <control />
        <html />
        <forms />
    </tools>
    
    <actionCreateForm>
        <action>actionIndex</action>
        <tools inherit="false">
            <forms />
            <h1 />
            <h2 />
            <div />
        </tools>        
    </actionCreateForm>
</config>