<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <timezone>default</timezone>
    <smarturls>false</smarturls>
    <theme>default</theme>
    <layout>default.html</layout>
    <debug>false</debug>
    <timer>false</timer>
    <showdebug>false</showdebug>
    <security>
        <handler>NoSecurity</handler>
    </security>
    <sessions>
        <use>false</use>
        <id>sid</id>
        <lifetime>0</lifetime>
    </sessions>
    <templates>
        <forcecompile>false</forcecompile>
        <checktime>false</checktime>
        <removeblanks>false</removeblanks>
        <autoinclude>
            <holder>include/holder.html</holder>
            <checkbox>include/checkbox.html</checkbox>
            <checklist>include/checklist.html</checklist>
            <fieldset>include/fieldset.html</fieldset>
            <hidden>include/hidden.html</hidden>
            <radio>include/radio.html</radio>
            <radiolist>include/radiolist.html</radiolist>
            <reset>include/reset.html</reset>
            <select>include/select.html</select>
            <textbox>include/textbox.html</textbox>
            <password>include/password.html</password>
            <submit>include/submit.html</submit>
            <upload>include/upload.html</upload>
            <datepicker>include/datepicker.html</datepicker>
<!-- 
            <plantask>include/plantask.html</plantask>
            <display>include/display.html</display>
 -->
            <scripts>include/scripts.html</scripts>
            <css>include/css.html</css>
            <metas>include/metas.html</metas>
            <links>include/links.html</links>
            
            <compress>include/compress.html</compress>
        </autoinclude>
        <autoarray>false</autoarray>
        <checkloops>false</checkloops>
        <resolveexternals>false</resolveexternals>
    </templates>
    <config>
        <checktime>false</checktime>
    </config>
    <taskmanager>
        <!-- 
            <localIP> : adresse IP locale utilisée par le démon
			C'est l'adresse IP qu'utilise le TaskManager pour accepter les
			requêtes adressées par les clients, c'est-à-dire l'adresse utilisée 
            pour créer la socket serveur.
            
            En général, c'est l'adresse "localhost" (127.0.0.1) mais ça peut 
            aussi être l'adresse IP réelle d'une inteface réseau ou une adresse 
            symbolique comme "0.0.0.0" pour indiquer "toutes les interfaces 
            réseau" (ce dernier point est à vérifier).
         -->
        <localIP>127.0.0.1</localIP>
        
        <!--
            <remoteIP> : Adresse IP distante utilisée par les scripts clients 
            pour adresser une requête au TaskManager.
            
            Lorsque le TaskManager et les scripts composant le site s'exécutent 
            sur la même machine physique, il s'agira de la même adresse IP que 
            celle indiquée dans la clé remoteIP : 127.0.0.1.
            
            Par contre si le démon et les scripts web s'exécutent sur des 
            machines différentes (cas par exemple d'une ferme de serveurs) il 
            s'agira de l'adresse IP de la machine exécutant le démon.
        -->
        <remoteIP>127.0.0.1</remoteIP>
        
        <!--
            <port> : numéro du port TCP utilisé pour créer la socket à laquelle 
            le TaskManager accepte les connexions.
            
            Ce port doit être disponible (utiliser la commande netstat -na pour 
            vérifier que c'est bien le cas) faute de quoi le TaskManager ne
            pourra pas démarrer.
            
            Les ports inférieurs à 1024 sont en général réservés et requièrent
            le privilège "administrateur" pour pouvoir être utilisés. 
        -->
        <port>8787</port>
        
        <!--
             <timeout> : temps maximum (en secondes) accordé au TaskManager pour 
             répondre à une requête adressée par un client.
             
             Lorsqu'un client adresse une requête au TaskManager, il considérera
             que celle-ci a échouée si aucune réponse n'est reçue dans le délai 
             imparti.
             
             Lorsque le TaskManager et les clients s'exécutent sur la même 
             machine, un délai d'une demi-seconde (0.5) est suffisant. Dans le 
             cas contraire, le time-out doit être augmenté pour prendre en 
             compte le temps de latence du réseau.
        -->
        <timeout>0.5</timeout>
        
        <!--
            <php> : path exact de l'exécutable php à utiliser pour lancer un 
            script php.
            
            Le fichier indiqué doit exister et être exécutable.
            
            Sous linux l'exécutable php s'appelle simplement php : vous 
            indiquerez en général un chemin du style "/usr/bin/php".
            
            Sous windows, il faut utiliser php-win.exe ou (à défaut) php.exe :
            vous indiquerez un chemin du style "c:\program files\php\php-win.exe".
            
            Remarque : vous pouvez indiquer dans cette clé n'importe quel
            exécutable. Cela peut être, par exemple, un shell script ou fichier
            "batch" qui se charge de lancer une configuration particulière de 
            php ou qui réalise une action spécifique avant ou après l'exécution
            du script.
			
			Par défaut, la clé est vide. Pour pouvoir lancer le gestionnaire de
			tâches, vous devez indiquer un path valide.
        -->
        <php />
        
        <!--
            <phpargs> : arguments éventuels à passer à l'exécutable php.
            
            Normalement, aucune option n'est nécessaire, mais vous pouvez 
            utiliser cette clé pour indiquer, par exemple, de charger un fichier
            php.ini spécifique (option -c xxx de php) ou désactiver son 
            utilisation (option -n de php).
         -->
        <phpargs />
        
        <!-- 
            Remarques : dans certains cas, le démarrage automatique du 
            gestionnaire de tâches depuis l'interface web n'est pas possible.
            
            Dans ce cas, vous devrez lancer vous-même le démon du TaskManager en
            utilisant une ligne de commande de la forme :
                                 
            /usr/bin/php -n -f /site/web/index.php /TaskManager/Daemon &
            
            Explications :
            1. /usr/bin/php : le path exact de votre exécutable php.
            2. -n -f : les arguments éventuels que vous souhaitez passer à php
            3. /site/web/index.php : le path exact du fichier php servant de  
               point d'entrée à l'application (front controler).
            4. /TaskManager/Daemon : la "fab url" à exécuter, à savoir l'action
               Daemon du module TaskManager.
            5. & : pour lancer l'ensemble en arrière plan (sous les systèmes 
               *nix uniquement.)
         -->
         
         <!-- 
            <webcontrol> : autorise ou non la manipulation du gestionnaire de 
            tâche à partir du site.
            
            Par défaut, les administrateurs du site peuvent démarrer et arrêter
            le gestionnaire de tâches à partir du site. Si le démarrage du démon
            à partir du site n'est pas possible (ou n'est pas souhaité), mettre
            cette clé à false.
          -->
         <webcontrol>true</webcontrol>
    </taskmanager>
    
    <alias>
<!--    <jquery.js>/FabWeb/js/lib/jquery/jquery-1.3.2.min.js</jquery.js> -->
<!--         <jquery.js>/FabWeb/js/lib/jquery/jquery-1.4.2.min.js</jquery.js> -->        
        <jquery.js>/FabWeb/js/lib/jquery/jquery-1.6.4.min.js</jquery.js>
        <!-- <jquery.js>http://ajax.googleapis.com/ajax/libs/jquery/1.2.3/jquery.min.js</jquery.js>  -->
        <!-- Cf http://code.google.com/apis/ajaxlibs/ -->
        <diff_match_patch.js>/FabWeb/js/lib/neil.fraser/diff_match_patch.js</diff_match_patch.js>

        <rpc.js>/FabWeb/js/rpc.js?v1011</rpc.js>
        <rpc.css>/FabWeb/css/rpc.css?v1004</rpc.css>

        <EditArea.js>/FabWeb/js/lib/editarea/0.8.2/edit_area_full.js</EditArea.js>
        
        <docbook_html.css>/FabWeb/css/docbook/html.css?v1004</docbook_html.css>
        
        <form.css>/FabWeb/css/form/form.css?v1004</form.css>
        <form.js>/FabWeb/js/form.js?v1004</form.js>
        
    </alias>
    
    <!-- Indique si on ignore ou non la casse des urls. Option du module Routing, à déplacer   -->
    <urlignorecase>true</urlignorecase>
    
    <!--
        La section autoload permet de charger automatiquement les classes qui 
        composent l'application sans avoir besoin d'utiliser une clause
        include ou require dans le code.
        
        La section autoload contient une liste de clés. Chaque clé est le nom
        d'une classe qu'on souhaite charger automatiquement (le nom de la
        classe est sensible à la casse). La valeur de la clé est le path du
        fichier php dans lequel est définie cette classe.
        
        Chaque path est relatif à la racine de l'application.

        Fab sait charger automatiquement tous les modules existants. Il n'est
        donc pas nécessaire de les ajouter à cette liste. Néanmoins, si vous le 
        faites, ce n'est pas génant et cela permettra d'économiser un appel à 
        la fonction file_exists() de php.
     -->
    <autoload />
    
    <!-- 
        Idem pour les classes de fab.
        
        Chaque path est relatif à la racine de fab.
     -->
    <fabautoload>
        <!-- 
            Les classes suivantes sont chargées par fab avant que la
            configuration de l'application ne soit chargée et ne peuvent pas
            utiliser le mécanisme d'autoloading (cf Runtime::autoload) :
         -->
            
        <!-- 
            <Cache>core/cache/Cache.php</Cache>
            <Config>core/config/Config.php</Config>
            <Utils>core/utils/Utils.php</Utils>
            
         -->
         
        <!-- Interfaces : -->
        <Singleton>core/Singleton/Singleton.php</Singleton>
        
        <!-- Classes de base : -->
        <Database>core/database/Database.php</Database>
        <BisDatabase>core/database/BisDatabase.php</BisDatabase>
        <XapianDatabaseDriver>core/database/XapianDatabase.php</XapianDatabaseDriver>
        <DatabaseSchema>core/database/DatabaseSchema.php</DatabaseSchema>
        <Debug>core/debug/Debug.php</Debug>
        <TextTable>core/helpers/TextTable/TextTable.php</TextTable>
        <Request>core/Request/Request.php</Request>
        <FileResponse>core/Response/FileResponse.php</FileResponse>
        <HtmlResponse>core/Response/HtmlResponse.php</HtmlResponse>
        <JsonResponse>core/Response/JsonResponse.php</JsonResponse>
        <LayoutResponse>core/Response/LayoutResponse.php</LayoutResponse>
        <Multimap>core/Multimap/Multimap.php</Multimap>
        <RedirectResponse>core/Response/RedirectResponse.php</RedirectResponse>
        <Response>core/Response/Response.php</Response>
        <TextResponse>core/Response/TextResponse.php</TextResponse>
        <Routing>core/routing/Routing.php</Routing>
        <Template>core/template/Template.php</Template>
        <TemplateCode>core/template/TemplateCode.php</TemplateCode>
        <TemplateCompiler>core/template/TemplateCompiler.php</TemplateCompiler>
        <TemplateEnvironment>core/template/TemplateEnvironment.php</TemplateEnvironment>
        <Timer>core/timer/Timer.php</Timer>
        <User>/core/user/User.php</User>
        <ReferenceTable>/core/ReferenceTable.php</ReferenceTable>

        <Task>modules/TaskManager/Task.php</Task>
            
        <AliasLookup>core/database/XapianLookupHelpers.php</AliasLookup>
        <LookupHelper>core/database/XapianLookupHelpers.php</LookupHelper>
        <SimpleTableLookup>core/database/XapianLookupHelpers.php</SimpleTableLookup>
        <TermLookup>core/database/XapianLookupHelpers.php</TermLookup>
        <ValueLookup>core/database/XapianLookupHelpers.php</ValueLookup>

        <!-- Classes de l'espace de nom Fab\Schema : -->
        <Fab_Schema_Alias>core/Schema/Alias.php</Fab_Schema_Alias>
        <Fab_Schema_Aliases>core/Schema/Aliases.php</Fab_Schema_Aliases>
        <Fab_Schema_BaseNode>core/Schema/BaseNode.php</Fab_Schema_BaseNode>
        <Fab_Schema_Field>core/Schema/Field.php</Fab_Schema_Field>
        <Fab_Schema_FieldNames>core/Schema/FieldNames.php</Fab_Schema_FieldNames>
        <Fab_Schema_Fields>core/Schema/Fields.php</Fab_Schema_Fields>
        <Fab_Schema_Group>core/Schema/Group.php</Fab_Schema_Group>
        <Fab_Schema_Index>core/Schema/Index.php</Fab_Schema_Index>
        <Fab_Schema_IndexNames>core/Schema/IndexNames.php</Fab_Schema_IndexNames>
        <Fab_Schema_Indices>core/Schema/Indices.php</Fab_Schema_Indices>
        <Fab_Schema_Node>core/Schema/Node.php</Fab_Schema_Node>
        <Fab_Schema_NodeNames>core/Schema/NodeNames.php</Fab_Schema_NodeNames>
        <Fab_Schema_Nodes>core/Schema/Nodes.php</Fab_Schema_Nodes>
        <Fab_Schema_Schema>core/Schema/Schema.php</Fab_Schema_Schema>
        <Fab_Schema_SchemaConverter>core/Schema/SchemaConverter.php</Fab_Schema_SchemaConverter>
        <!-- +exceptions -->            

        <!-- Classes de l'espace de nom Fab\Indexing : -->
        <Fab_Indexing_AnalyzerData>core/Indexing/AnalyzerData.php</Fab_Indexing_AnalyzerData>
        <Fab_Indexing_AnalyzerInterface>core/Indexing/AnalyzerInterface.php</Fab_Indexing_AnalyzerInterface>
        <Fab_Indexing_Attribute>core/Indexing/Attribute.php</Fab_Indexing_Attribute>
        <Fab_Indexing_Boolean>core/Indexing/Boolean.php</Fab_Indexing_Boolean>
        <Fab_Indexing_BooleanExtended>core/Indexing/BooleanExtended.php</Fab_Indexing_BooleanExtended>
        <Fab_Indexing_Countable>core/Indexing/Countable.php</Fab_Indexing_Countable>
        <Fab_Indexing_DateYMD>core/Indexing/DateYMD.php</Fab_Indexing_DateYMD>
        <Fab_Indexing_Integer>core/Indexing/Integer.php</Fab_Indexing_Integer>
        <Fab_Indexing_Isbn>core/Indexing/Isbn.php</Fab_Indexing_Isbn>
        <Fab_Indexing_Keywords>core/Indexing/Keywords.php</Fab_Indexing_Keywords>
        <Fab_Indexing_Lookup>core/Indexing/Lookup.php</Fab_Indexing_Lookup>
        <Fab_Indexing_Lowercase>core/Indexing/LowerCase.php</Fab_Indexing_Lowercase>
        <Fab_Indexing_MetaAnalyzer>core/Indexing/MetaAnalyzer.php</Fab_Indexing_MetaAnalyzer>
        <Fab_Indexing_Phrases>core/Indexing/Phrases.php</Fab_Indexing_Phrases>
        <Fab_Indexing_RemoveStopwords>core/Indexing/RemoveStopwords.php</Fab_Indexing_RemoveStopwords>
        <Fab_Indexing_Spellings>core/Indexing/Spellings.php</Fab_Indexing_Spellings>
        <Fab_Indexing_StandardTextAnalyzer>core/Indexing/StandardTextAnalyzer.php</Fab_Indexing_StandardTextAnalyzer>
        <Fab_Indexing_StandardValuesAnalyzer>core/Indexing/StandardValuesAnalyzer.php</Fab_Indexing_StandardValuesAnalyzer>
        <Fab_Indexing_StemFrench>core/Indexing/StemFrench.php</Fab_Indexing_StemFrench>
        <Fab_Indexing_StripTags>core/Indexing/StripTags.php</Fab_Indexing_StripTags>
        <Fab_Indexing_Words>core/Indexing/Words.php</Fab_Indexing_Words>

        <!-- Classes de l'espace de nom Fab\Store : -->
        <Fab_Store_SearchRequest>core/Store/SearchRequest.php</Fab_Store_SearchRequest>
        <Fab_Store_SearchResult>core/Store/SearchResult.php</Fab_Store_SearchResult>
        <Fab_Store_StoreInterface>core/Store/StoreInterface.php</Fab_Store_StoreInterface>
        <Fab_Store_XapianSearchResult>core/Store/XapianSearchResult.php</Fab_Store_XapianSearchResult>
        <Fab_Store_XapianStore>core/Store/XapianStore.php</Fab_Store_XapianStore>
        <Fab_Store_Exception_DocumentNotFound>core/Store/Exception/DocumentNotFound.php</Fab_Store_Exception_DocumentNotFound>
        
        <!--
            Modules
            
            Ce n'est pas indispensable de les lister tous, mais cela fait gagner
            deux appels à file_exists à chaque fois. 
         -->
        <Admin>modules/Admin/Admin.php</Admin>
        <AdminCache>modules/AdminCache/AdminCache.php</AdminCache>
        <AdminDatabases>modules/AdminDatabases/AdminDatabases.php</AdminDatabases>
        <AdminFiles>modules/AdminFiles/AdminFiles.php</AdminFiles>
        <AdminModules>modules/AdminModules/AdminModules.php</AdminModules>
        <AdminSchemas>modules/AdminSchemas/AdminSchemas.php</AdminSchemas>
        
        <AutoDoc>modules/AutoDoc/AutoDoc.php</AutoDoc>
        <AutoTest>modules/AutoTest/AutoTest.php</AutoTest>
        <CartModule>modules/CartModule/CartModule.php</CartModule>
        <DatabaseAdmin>modules/DatabaseAdmin/DatabaseAdmin.php</DatabaseAdmin>
        <DatabaseInspector>modules/DatabaseInspector/DatabaseInspector.php</DatabaseInspector>
        <DatabaseModule>modules/DatabaseModule/DatabaseModule.php</DatabaseModule>
        <DedupModule>modules/DedupModule/DedupModule.php</DedupModule>
        <DedupMethod>modules/DedupModule/DedupMethod.php</DedupMethod>
        <DedupFirstValue>modules/DedupModule/DedupFirstValue.php</DedupFirstValue>
        <DedupTokens>modules/DedupModule/DedupTokens.php</DedupTokens>
        <DedupValues>modules/DedupModule/DedupValues.php</DedupValues>
        <DedupYears>modules/DedupModule/DedupYears.php</DedupYears>
        
        <DefaultModule>modules/DefaultModule/DefaultModule.php</DefaultModule>
        <ExceptionManager>modules/ExceptionManager/ExceptionManager.php</ExceptionManager>
        <FabWeb>modules/FabWeb/FabWeb.php</FabWeb>
        <ImportModule>modules/ImportModule/ImportModule.php</ImportModule>
        <Module>modules/Module/Module.php</Module>
        <BaseSecurity>modules/BaseSecurity/BaseSecurity.php</BaseSecurity>
        <NoSecurity>modules/NoSecurity/NoSecurity.php</NoSecurity>
        <FileBasedSecurity>modules/FileBasedSecurity/FileBasedSecurity.php</FileBasedSecurity>
        <NotFound>modules/NotFound/NotFound.php</NotFound>
        <PhpInfo>modules/PhpInfo/PhpInfo.php</PhpInfo>
        <TaskManager>modules/TaskManager/TaskManager.php</TaskManager>
        <ThesaurusModule>modules/ThesaurusModule/ThesaurusModule.php</ThesaurusModule>

        <!--
            Xapian 
         -->            
        <Xapian>lib/Xapian/xapian.php</Xapian>
        <XapianDocument>lib/Xapian/xapian.php</XapianDocument>
        <XapianDatabase>lib/Xapian/xapian.php</XapianDatabase>
        <XapianWritableDatabase>lib/Xapian/xapian.php</XapianWritableDatabase>
        <XapianQuery>lib/Xapian/xapian.php</XapianQuery>
        <XapianSimpleStopper>lib/Xapian/xapian.php</XapianSimpleStopper>
        <XapianQueryParser>lib/Xapian/xapian.php</XapianQueryParser>
        <XapianTermGenerator>lib/Xapian/xapian.php</XapianTermGenerator>
        <XapianTermIterator>lib/Xapian/xapian.php</XapianTermIterator>
        <!-- Seules les classes principales de xapian sont listées içi -->

        <!--
            Swift 
         -->            
        <Swift>lib/SwiftMailer/Swift.php</Swift>
        <Swift_Connection_SMTP>lib/SwiftMailer/Swift/Connection/SMTP.php</Swift_Connection_SMTP>
        <Swift_Message>lib/SwiftMailer/Swift/Message.php</Swift_Message>
        <Swift_Message_Part>lib/SwiftMailer/Swift/Message/Part.php</Swift_Message_Part>
        <Swift_Address>lib/SwiftMailer/Swift/Address.php</Swift_Address>
        <Swift_RecipientList>lib/SwiftMailer/Swift/RecipientList.php</Swift_RecipientList>
        <!-- Swift définit d'autres classes mais seules celles qui sont utilisées sont déclarées içi -->

    </fabautoload>
</config>