<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <debug>true</debug>
    <timer>true</timer>
    <showdebug>true</showdebug>
    <smarturls>false</smarturls>
    <js>
        <item>
            <src>/FabWeb/js/debug.js</src>
            <placement>bottom</placement>
        </item>
    </js>
    <css>
        <item>
            <href>/FabWeb/styles/debug.css</href>
        </item>
    </css>
    <templates>
        <forcecompile>false</forcecompile>
        <checktime>true</checktime>
        <autoinclude>
            <compress />
        </autoinclude>
    </templates>
    <config>
        <checktime>true</checktime>
    </config>
</config>
