<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration par défaut du module ImportModule de fab -->
<config>

    <!-- <database>importfiles</database> -->
    
    <js>
        <item><src>jquery.js</src></item>
    </js>
    
    <actionIndex>
        <action>actionSearch</action>
        <equation>*</equation>
        
        <max>-1</max>
        
        <template>index.html</template>
        <noanswertemplate>index.html</noanswertemplate>
        
        <css>
            <item><href>/FabWeb/css/importmodule/importmodule.css</href></item>
        </css>
    </actionIndex>

    <!-- callback de validation et d'import
    <actionUpload>
        <validcallback>Base->checkImportFile</validcallback>
    </actionUpload>
    
    <actionImport>
        <importcallback>Base->importFile</importcallback>
    </actionImport>
    -->
 
    <actionDelete>
        <template>deleted.html</template>
        <!--
            config possible pour les événements     
            <events>
                <beforeDelete>onBeforeDelete</beforeDelete>
            </events>
         -->
    </actionDelete>
</config>