<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
<!-- 
    <item>
        <url>/taskmanager/taskstatus*</url>
        <module>TaskManager</module>
        <action>TaskStatus</action>
    </item>
 -->
    <item>
        <url>/</url>
        <module>DefaultModule</module>
        <action>Index</action>
    </item>
    <item>
        <url>/$module/</url>
        <action>Index</action>
    </item>
    <item>
        <url>/$module/$action</url>
    </item>
</config>
