<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Titre du module -->
    <title>Indexation de données SQL</title>


    <!--
        Nom de la base de données Xapian à créer.
        
        Il peut s'agir d'un alias définit dans db.config, d'un path absolu ou d'un path
        relatif au répertoire /data/db/ de l'application.  
    -->
    <database />


    <!-- 
        Nom du schema à utiliser pour créer la base de données Xapian.
        
        Le schéma indiqué doit exister dans le répertoire /data/schemas/ de l'application.
     -->
    <schema />
    
    
    <!-- 
        Paramètres de connexion à la base de données sql.
        
        La connexion à la base de données est établie en utilisant la classe PDO de php.
        
        Consultez php.net/pdo.construct pour plus d'informations sur les différents paramètres.
        
        Pour ne pas dupliquer les informations de connexion à la base de données ou pour éviter de 
        coder en dur dans le fichier de configuration le login et le mot de passe utilisés, vous
        pouvez également surcharger la méthode getDatabaseConnection() du module SqlIndex. 
    -->
    <source>
        <!-- 
            Un libellé quelconque désignant la base de données. 
            Utilisé uniquement dans le message de confirmation.
            
            Exemple "Wordpress", "Indefero"...
        -->
        <label>la base</label>
        
        <!--
            Le Data Source Name, ou DSN, qui contient les informations requises pour se connecter à la base.
            
            Exemple : mysql:host=localhost;dbname=test 
        -->
        <dsn />
        
        <!-- 
            Le nom d'utilisateur pour la chaîne DSN. Ce paramètre est optionnel pour certains pilote PDO. 
        -->
        <username />
        
        <!-- 
            Le mot de passe de la chaîne DSN. Ce paramètre est optionnel pour certains pilote PDO. 
        -->
        <password />
        
        <!-- 
            Un tableau clé=>valeur avec les options spécifiques de connexion. 
        -->
        <driver_options />
    </source>

    
    <!--
        Description des données à indexer. 
     -->
    <data>

        <!-- 
            Liste des clauses SQL à exécuter avant de lancer l'indexation.
            
            Cette clé permet d'indiquer des traitements qui doivent être exécutés avant de
            commencer l'indexation (définir de soptions, créer des vues ou des procédures 
            stockées, etc.)
             
            Vous pouvez indiquer une requête sql unique ou une liste de clés <item> contenant
            chacun une requête à exécuter.
            
            La clé <after /> permet d'annuler les traitements exécutés içi.
            
            Exemple : 
            <before>
                <item>SET NAMES latin1</item>
                <item>CREATE OR REPLACE VIEW my_view AS SELETC * FROM ma_table</item>
            </before>
            
            Vous pouvez également utiliser des clés nommées à la place des <item>. Exemple :
            <before>
                <set_charset>SET NAMES latin1</set_charset>
                <view_ma_table>CREATE OR REPLACE VIEW my_view AS SELETC * FROM ma_table</view_ma_table>
            </before>
        -->
        <before />
        

        <!-- 
            Liste des requêtes à exécuter une fois l'indexation terminée.
            
            Cette clé fait l'inverse de <before /> : elle permet d'indiquer une ou plusieurs
            requêtes SQL à exécuter une fois l'indexation terminée (mettre à jour la date de 
            dernière indexation, supprimer les vues créées dans <before>, etc.)
         -->
        <after />            
        
        <!-- 
            Liste des jeux de données à indexer.
            
            La clé <datasets /> doit contenir une liste d'items (<item> ou clé nommée), même si 
            vous n'avez qu'une seule source de données à indexer.
            
            Chaque <item> contient les sous-clés suivantes :
            
            <query>
                Obligatoire, requête principale à exécuter pour extraire les données à indexer.
                
                Chacune des colonnes récupérées par la requête doit correspondre à
                un nom de champ existant dans le schéma de la base Xapian.
                 
                Exemple :
                <query>SELECT REF, Aut, Titre, Date, MotsCles FROM base_doc;</query>
            
            <other-fields>
                Optionnel, données supplémentaires à récupérer pour chacun des 
                enregistrements retournés par la requête principale.
                
                Chacune des requêtes indiquées sera exécutée pour chaque enregistrement.

                Chacune des colonnes retournées par les requêtes doit correspondre à
                un nom de champ existant dans le schéma de la base Xapian.
                
                Si une requête retourne plusieurs lignes, les valeurs sont assemblées en 
                tableau et la colonne correspondante sera traitée comme un champ article.
                
                Exemple :   
                <other-fields>
                    <item>SELECT url FROM links WHERE Parent=:REF;</item>
                </other-fields>
                    
            <split>
                Optionnel, liste des champs à transformer en champs articles.
                
                Indiquez pour chaque champ le séparateur à utiliser pour éclater le champ
                en tableau de valeurs.
                
                Exemple :
                <split>  
                    <Auteur>,</Auteur>
                    <MotsCles>/</MotsCles>
                </split>
        -->
        <datasets />
    </data>
</config>