<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>

    <access>cli,Admin</access>

    <js>
        <item><src>jquery.js</src></item>
    </js>
    
    <css>
        <item><href>/FabWeb/css/taskmanager/taskmanager.css?version=20110114</href></item>
    </css>
    
    <actionDaemon>
        <access>cli</access>
        <layout>none</layout>
    </actionDaemon>
    
    <actionIndex>
        <action>actionSearch</action>
        <equation>*</equation>
        
        <max>-1</max>
        
        <template>index.html</template>
        <noanswertemplate>index.html</noanswertemplate>
    </actionIndex>
    
    <actionTaskStatus>
        <js>
            <item><src>/FabWeb/js/taskmanager.js</src></item>
        </js>
    </actionTaskStatus>
    
    <actionRunTask>
        <layout>none</layout>
    </actionRunTask>
</config>
