<?xml version="1.0" encoding="UTF-8"?>

<!-- Fichier de configuration du module ThesaurusModule -->
<config>
    <database>thesaurus</database>

    <!-- Index : affiche la liste des  micro-thesaurus -->
    <actionIndex>
        <action>actionSearch</action>
        
        <template>index.html</template>

        <!--  equation par défaut : liste les micro-thesaurus (les descripteurs qui n'ont pas de TG) -->
        <equation>TG:__empty AND EM:__empty</equation>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
        <sort>+</sort>
        <js>
            <item><src>jquery.js</src></item>
            <item><src>rpc.js</src></item>
            <item><src>/FabWeb/js/thesaurus.js</src></item>
        </js>
        <css>
            <item><href>rpc.css</href></item>
            <item><href>/FabWeb/css/thesaurus/thesaurus.css</href></item>
        </css>
    </actionIndex>
    
    <actionThesoLookup>
        <action>actionSearch</action>
        <template>lookup.html</template>
        <noanswertemplate>lookupnoanswer.html</noanswertemplate>
        <max>25</max>
    </actionThesoLookup>
    
    <actionSearchForm>
        <template>searchform.html</template>
    </actionSearchForm>
  
    <actionSearch>
        <template>search.html</template>

        <!-- on limite le nombre de réponses -->
        <max>200</max>
        <sort>+</sort>
        <noanswertemplate>noanswer.html</noanswertemplate>        
    </actionSearch>

    <actionShow>
        <template>show.html</template>
        <css>
            <item><href>/FabWeb/css/thesaurus/thesaurus.css</href></item>
        </css>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
    </actionShow>

    <actionHierarchy>
        <template>hierarchy.html</template>
    </actionHierarchy>

    <actionNav>
        <action>actionSearch</action>
        <template>nav.html</template>

        <!--  equation par défaut : liste les micro-thesaurus (les descripteurs qui n'ont pas de TG) -->
        <equation>TG:__empty AND EM:__empty</equation>
        
        <!-- afficher toutes les réponses -->
        <max>-1</max>
         
        <js> 
            <item><src>jquery.js</src></item>
            <item><src>/FabWeb/js/treeview.js</src></item>
        </js>
  
        <css> 
            <item><href>/FabWeb/css/thesaurus/treeview.css</href></item>
        </css>
    </actionNav>
</config>