<?xml version="1.0" encoding="UTF-8"?>
<config>
<!--    Routes de base -->
    <item>
        <url>/</url>
        <module>DefaultModule</module>
        <action>actionIndex</action>
    </item>
    <item>
        <url>/$module/</url>
        <action>actionIndex</action>
    </item>
    <item>
        <url>/$module/$action</url>
    </item>
    
<!--    Routes utilisateur -->

    <item>
        <url>/base/$ref</url>
        <with>
            <ref>\d+(,\d+){0,4}</ref>
        </with>
        <module>DatabaseModule</module>
        <action>actionSearch</action>
    </item>

    <item>
        <url>/base/auteur/$aut</url>
        <module>DatabaseModule</module>
        <action>actionSearch</action>
    </item>
    <item>
        <url>/base/motcle/$motscles</url>
        <module>DatabaseModule</module>
        <action>actionSearch</action>
    </item>
    <item>
        <url>/base/revue/$rev</url>
        <module>DatabaseModule</module>
        <action>actionSearch</action>
    </item>
    <item>
        <url>/base/revue/$rev/inspect</url>
        <module>DatabaseModule</module>
        <action>actionInspect</action>
    </item>
    <item>
        <url>/base/revue/$rev/presentation</url>
        <module>DatabaseModule</module>
        <action>actionInform</action>
    </item>
    <item>
        <url>/base/recherche</url>
        <module>DatabaseModule</module>
        <action>actionSearch</action>
    </item>
</config>