<template match="//*[name()='links']" placement="all">
    <loop on="{$this->getLinks($placement)}" as="$item">
        /*
            Génère le début du commentaire conditionnel éventuel.
            Comme on ne peut pas taper directement le signe inférieur, on passe par htmlspecialchars_decode.
        */
        <if test="{$item['condition']}">
        {htmlspecialchars_decode('&lt;')}!--[{$item['condition']}]{htmlspecialchars_decode('&gt;')}
        </if>
        
        /* Génère le tag */
        <link
            charset  = "{$item['charset']}"
            hreflang = "{$item['hreflang']}"
            id       = "{$item['id']}"
            media    = "{$item['media']}"
            rel      = "{$item['rel']}"
            rev      = "{$item['rev']}"
            title    = "{$item['title']}"
            type     = "{$item['type']}"
            href     = "{$item['href']}"
        />
        
        /* Génère la fin du commentaire conditionnel éventuel */
        <if test="{$item['condition']}">
        {htmlspecialchars_decode('&lt;')}![endif]--{htmlspecialchars_decode('&gt;')}
        </if>
    </loop>
</template>