<template match="//password" 
    name=""         /* le nom du champ à générer */
    label="&#160;"  /* le libellé à générer devant le champ */
    value=""        /* la valeur initiale du champ */
    class=""        /* classe supplémentaire à appliquer à la div container */
    id=""           /* l'id spécifique du controle */
    test="{true}"   /* la condition d'affichage */
    >
    <div test="$test" class="holder password $class">
        <label for="{Template::autoId($id:$name:'password')}">$label</label>
        {select('node()[contains(@class,"before")]')}
        <input
            type="password" 
            name="$name" 
            value="$value"
            id="{Template::lastId()}">{select('@*')}</input>
        {select('node()[not(contains(@class,"before"))]')}
    </div>
</template>