<template match="//radiolist" name="" label="" src="" class="" test="{true}">
    <div test="$test" class="holder radiolist $class">
        <label>$label</label>
        {select('node()[contains(@class,"before")]')}
        <loop on="$src" as="$key, $record">
            <if test="{is_array($record)}">
                <radio    name="$name" label="{$record['label']}" value="{$record['code']}">{select('@*')}</radio>
            </if>
            <else>
                <radio    name="$name" label="$record" value="{is_string($key) ? trim($key) : $record}">{select('@*')}</radio>
            </else>
        </loop>
        {select('node()[not(contains(@class,"before"))]')}
    </div>
</template>